<!DOCTYPE html>
<html>
    <head>
        <script>

            // Function to check Whether both passwords
            // is same or not.
            function checkPassword(form) {
                userPassword = form.userPassword.value;
                userPasswordRepeat = form.userPasswordRepeat.value;

                // If password not entered
                if (userPassword == '')
                    alert ("Please enter Password");

                // If confirm password not entered
                else if (userPasswordRepeat == '')
                    alert ("Please enter confirm password");

                // If Not same return False.
                else if (userPassword != userPasswordRepeat) {
                    alert ("\nPassword did not match: Please try again...")
                    return false;
                }

                // If same return True.
                else{
                    alert("Password Match: Welcome to GeeksforGeeks!")
                    return true;
                }
            }
        </script>
        <style>
            .gfg {
                font-size:40px;
                color:green;
                font-weight:bold;
                text-align:center;
            }
            .geeks {
                font-size:17px;
                text-align:center;
                margin-bottom:20px;
            }
        </style>
    </head>
    <body>
        <div class = "gfg">Project 1</div>
        <div class = "geeks">   <a href="https://www.geeksforgeeks.org/password-matching-using-javascript/"> password-matching-using-javascript see Geeks for Geeks website</a></div>
        <form onSubmit = "return checkPassword(this)">
        <table border = 1 align = "center">
            <tr>
            <tr>
                                <td>REGISTER</td>
            </tr>                <!-- Enter Username -->
                <td>Username:</td>
                <td><input type="email" value="" name="emailLogIn" placeholder="Email" required> </td>
            </tr>
            <tr>
                <!-- Enter Password. -->
                <td>Password:</td>
                <td><input type = password value="" name="userPassword" placeholder="Password" required></td>

            </tr>
            <tr>
                <!-- To Confirm Password. -->
                <td>Confirm Password:</td>
                <td><input type = password value="" name="userPasswordRepeat" placeholder="Password" required></td>
            </tr>
            <tr>
                <td colspan = 2 align = right>
                <input type = submit value = "Submit"></td>


            </tr>



            <tr>
                                <td>LOGIN</td>
            </tr>
            <tr>
                <!-- Enter Password. -->
                <td>Password:</td>
                <td><input type = email value="" name="emailLogIn" placeholder="Email"></td>

            </tr>
            <tr>
                <!-- To Confirm Password. -->
                <td>Confirm Password:</td>
                <td><input type = password value="" name="userPasswordLogIn" placeholder="Password"></td>
            </tr>
            <tr>
                <td colspan = 2 align = right>
                <input type = submit value = "Submit"></td>




            </tr>
        </table>
        </form>
    </body>
</html>